<div class="container">
	<h1>RxJS & Observables in Angular</h1>
	<div class="box">
		<div>
			<h2>Data streams</h2>
			<p>A sequence of values over time</p>
			<h2>Examples</h2>
			<p>A number that goes up by one every second</p>
			<pre class="code">[1, 2, 3, 4]</pre>
			<p>A stream of keypresses</p>
			<pre class="code">["C", "o", "d", "e"]</pre>
			<p>A stream OF objects</p>
			<pre class="code">[{{ '{ id: 1}' }},{{ ' { id: 2}' }}]</pre>
			<div>
        <br>
				<h2> Reactive programming ? </h2>
				<p>We can define an application as a series of streams with operations that connect streams together and
					which are automatically called when new values are pushed onto those streams</p>
				<img src="https://aaronliew.github.io/images/RxJava/RxExample.png">
        </div>
			</div>
		</div>
	</div>
	<div class="container">
		<h1>Observables</h1>
		<div class="box">
			<div>
				<p>An observable is essentially a stream (a stream of events, or data) and compared to a Promise, an
					Observable can be cancelled. It out of the box supports operators such as map() and filter().</p>
				<br>
				<img src="https://cdn.jsdelivr.net/gh/mo-sharif/angular-rxjs-operators@master/src/assets/observables.png">
			</div>
			</div>
		</div>